@function text-color-picker($color) {

    // Check if the lightness of the color is greater than 70
    @if (lightness($color) > 70) {
        // If true, return black
        @return black;
    }

    @else {
        // If false, return white
        @return white;
    }
}

// SCSS Mixin
@mixin set-bg($color) {
    background-color: $color; // Set the background color to the provided color
    color: text-color-picker($color); // Set the text color using the text-color-picker function
}

// Standard CSS
.box {
    max-width: 1100px;
    padding: 0 30px;
    margin: 0 auto;
    overflow: auto;
}